@model Product 

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">@Model.Name: @Model.Price --> @Model.Quantity</p>
    </div>
</div>