@model CheckOutModel
@{
    ViewData["Title"] = "Check Out!";
}
<div class="text-center">
    <h1 class="display-4">Check Out!</h1>
</div>
<h4>@Model.StatusMessage</h4>
<h5>Thank you for shopping here, and we hope you will shop again in the future!</h5>
